@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Slabo+27px&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-BioRhyme: "BioRhyme";
    --font-BioRhyme--font-variation-settings: 400 800;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}

/* Skapa en shimmer effekt */
.shimmer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
  background-size: 200% 100%;
  animation: shine 1.5s infinite linear;
}
