@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Slabo+27px&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-BioRhyme: "BioRhyme";
    --font-BioRhyme--font-variation-settings: 400 800;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}


.shimmer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
  background-size: 200% 100%;
  animation: shine 1.5s infinite linear;
}


input[type="radio"] {
  display: none;
}

.custom-radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-radio input[type="radio"]:checked+span,
.custom-radio input[type="radio"]:not(:checked)+span {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-radio input[type="radio"]:checked+span::after {
  content: "✔";
  position: absolute;
  color: #4CAF50;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  font-family: "Arial", sans-serif;
}

.custom-stamp {
    content: "🐾";
      position: absolute;
        color: #4CAF50;
        font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}